/* -------------- This is css for bar chart------------------------------ */
  .title{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    height: 5vh;
  }
  .change{
    width: 70px;
    height: 30px;
    
    border-radius: 3px;
    background-color: #5DADE2 ;
    text-align: center;
    line-height: 30px;
    font-size: .8em;

    }
    .change:hover{
    cursor: pointer;
    background-color: #5195c9;
    }
    .award{
      width: 40%;
      height: 100%;
      text-align: center;
      font-size: 1.2em;

    }

